@model FiestaReports.Models.Employee
@{
    ViewBag.Title = "ForgotPassword";
}
@section Scripts{

    <script src="~/Scripts/Login.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
<div class="container">
    <div class="modal  fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="window.location.href ='@Url.Action("Index","Home")'" data-dismiss="modal">&times;</button>
                    <h4><b>Forgot your password?</b></h4>
                </div>
                <div class="modal-body">
                    <form id="loginform" class="form-horizontal" role="form">                                             
                        
                        
                        @Html.AntiForgeryToken()
                       <br />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.emailEmployee, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.emailEmployee, new { @class = "form-control" , @placeholder = "Enter your email." })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-info" value="Email Link" />
                            </div>
                        </div>
                       
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href ='@Url.Action("Index","Home")'">Close</button>
                    
                    <br />
                    
                </div>
            </div>
        </div>
    </div>
</div>

